/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
1.kích thước
2.vị trí
3.màu sắc
4.kiểu dáng(cở chữ, hình dạng,font chữ),..
*/
/* 
1.từ ngoài vào trong
2.từ trên xuống dưới
3.từ tổng quát đến chi tiết
/* Common */
*/
.text-white {
  color: #fff !important;
}


.clear {
  clear: both;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}


.row::after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-third {
  width: 33.333333333%;
}
.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.text-center {
  text-align: center;
}


.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}



.btn {
  background-color: #000;
  text-decoration: none;
  padding: 11px 16px;
  margin-top: 18px;
  display: inline-block;
  color: #fff;
  border: none;
}
.btn:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.pull-right {
  float: right!important;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial;
  scroll-behavior: smooth;
  /* hieu ung cuon trang */
}
/* Main */
#header {
  width: 100%;
  height: 46px;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

div#header ul {
  text-decoration: none;
}
/* #nav {
} */
#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}

#nav {
  display: inline-block;
}
#nav li:hover .subnav {
  display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: #fff;
}
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  color: #fff;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style-type: none;
}

#nav .subnav a {
  color: #000;
  padding: 16px;
  line-height: 24px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
#nav .nav-arrow-down {
  font-size: 13px;
}

#header .search-btn {
  float: right;
  line-height: 46px;
  width: 62px;
  height: 46px;
  padding: 0 21px;
  cursor: pointer;
}

#header .search-icon {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#slider {
  margin-top: 46px;
  padding-top: 50%;
  /* background: url("/assets/img/slider/chicago.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative; */
  background: url("/assets/img/slider/chicago.jpg") top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  color: #ffffff;
  bottom: 47px;
  width: 100%;
  text-align: center;
  font: 15px Lato, sans-serif;
}

#slider .text-heading {
  font-weight: 500;
  margin: 10px 0;
  font-size: 24px;
  font-family: "Segoe UI", Arial, sans-serif;
}

#slider .text-description {
  margin: 15px 0;
}
/* #content {

} */
#content .content-section {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 64px 0 112px;
  /* fix Ipad */
  max-width: 100%;
  padding-left:16px ;
  padding-right: 16px;
}

#content .content-section .section-heading {
  font: 30px "Segoe UI", Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
  letter-spacing: 2px;
}
#content .content-section .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin: 15px 0;
  font-style: italic;
  color: #000;
}
/* "Lato", sans-serif */
#content .about-text {
  font: 15px "Lato", sans-serif;
  margin: 15px 0;
  text-align: justify;
  line-height: 1.5;
}

#content .member-list {
  margin-top: 46px;
  /* xu li float  */
  /* overflow: hidden; */
}

#content .member-img {
  width: 154px;
  margin-top: 15px;
  border-radius: 4px;
}

.tour-section {
  background-color: #000 !important;
  margin-top: 43px;
}

.tickets-list {
  background-color: #fff;
}
.tickets-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
  list-style-type: none;
}
.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}
.tickets-list .quality {
  float: right;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-color: #000;
  margin-top: -3px;
}
/* ____________________________- */
/* .places-list {
  margin-top: 32px;
  font-size: 15px;
}
.places-list .place-item .place-img {
  height: 184px;
}
.places-list .place-item {
  float: left;
  width: calc(100% / 3);
  background-color: #fff;
}
.places-list .place-item .place-heading {
  font-family: "Helvetica Neue", Helvetica, Arial;
  margin: 15px 0;
}
.places-list .place-item .place-time {
  opacity: 0.6;
  color: #000;
  font-family: "Lato", sans-serif;
  margin: 15px 0;
}
.places-list .place-item .place-description {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #000;
  margin: 15px 0;
  line-height: 1.5;
}
.places-list .place-body {
  padding: 0.15px 16px;
}
.places-list .place-body .place-btn {
  margin: 23px 0;
  background-color: #000;
  padding: 8px 16px;
} */

/* ______________________________ */
.places-list {
  margin-top: 32px;
  font-size: 15px;
}

.place-img {
  width: 100%;
  display: block;
}
.place-img:hover {
  opacity: 0.8;
}
.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}
.place-heading {
  font-size: 15px;
  font-weight: 600;
}
.place-time {
  margin-top: 15px;
  color: #757575;
}
.place-description {
  margin-top: 15px;
  line-height: 1.5;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  /* display: flex; */
  display: none;
  /* can giua theo chieu doc */
  align-items: center;
  /* can giua theo chuoi ngang */
  justify-content: center;
}
.modal-container {
  background-color: #fff;
  width: 900px;
  /* padding: 16px; */
  min-height: 200px;
  /* border-radius: 4px; */
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
  position: relative;
  animation:modalFadeIn ease 0.4s; 
}

.modal-header {
  background-color: #009688;
  width: 900px;
  height: 130px;
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-heading-icon {
  margin-right: 16px;
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  opacity: 0.6;
}
.modal-close:hover {
  background-color: #333;
  line-height: 36px;
}
.modal-body {
  padding: 16px;
}
.modal-label {
  width: 100%;
  display: block;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 41px;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 24px;
  
}

.buy-tickets {
  background-color: #009688;
  width: 100%;
  padding: 18px;
  font-style:uppercase;
  border: none;
  cursor: pointer;
}
.modal-footer {
  padding: 16px;
  text-align: right;
  color: #000;
}

.modal-footer a {
  color:#2196f3;
}

.open {
  display: flex;
}
/* Contact */
.contact-content {
  margin: 48px 0;
}
.contact-info {
  font-size:18px;
  line-height:1.5 ;

}

/* Check */
.contact-info i[class*="ti-"] {
  margin-right: 30px;
  display: inline-block;
}
.contact-form {
  font-size: 15px;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.map-section img {
  width: 100%;
}
#footer {
  padding:64px 16px;
  text-align: center;

}
#footer .social-list {
  font-size:24px;
}
#footer .social-list a {
  text-decoration: none;
  color:rgba(0, 0, 0, 0.6);

}
#footer .social-list a:hover {
  color:rgba(0, 0, 0, 0.2);
  
}
#footer .copyright {
  margin: 15px 0;
}

@keyframes modalFadeIn{
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
